<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<th:block layout:fragment="container">

    <h1>User List</h1>

    <table class="datatable">
        <tr class="column-header">
            <td>ID</td>
            <td>Email</td>
            <td>username</td>
            <td>Enabled</td>
            <td>Roles</td>
        </tr>

        <th:block th:each="user: ${users}">
            <tr>
                <td> <a th:text="${user.id}" th:href="@{/user/{id}(id = ${user.id})}">id</a></td>
                <td> <a th:text="${user.email}" th:href="@{/user/{id}(id = ${user.id})}">email</a> </td>
                <td> <a th:text="${user.username}" th:href="@{/user/{id}(id = ${user.id})}">username</a></td>
                <td> <a th:text="${user.enabled}" th:href="@{/user/{id}(id = ${user.id})}">enabed</a> </td>
                <td> <a th:text="${user.roles}" th:href="@{/user/{id}(id = ${user.id})}">roles</a> </td>
            </tr>
        </th:block>


    </table>

</th:block>
</body>

</html>