<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="Login">User Login Page</title>
</head>
<body>
<body>
<th:block layout:fragment="container">

    <div class="form-container sign-in-container">
        <form th:action="@{/login}" method="post">
            <h1 th:text="${'User Login Page'}">Sign in</h1>
            <div th:if="${param.error}">
                <div class="alert alert-danger">Invalid username or password.
                </div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-info">You have been logged out.</div>
            </div>
            <input type="email" name="username" class="form-control"  autofocus="autofocus" placeholder="Email"/>
            <input type="password" name="password" class="form-control" placeholder="Password"/>
            <a href="#">Forgot your password?</a>
<!--            <div class="form-group">-->
<!--                <input type="submit" name="login-submit" id="login-submit"-->
<!--                       class="stdBtn" value="Log In">-->
<!--            </div>-->
            <button>Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
<!--                <button class="ghost" id="signUp" th:href="@{user/registration}">Sign Up</button>-->
                <a th:href="@{/user/registration}">Registration</a>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
