<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="Login">User Login Page</title>
</head>
<body>
<body>
<th:block layout:fragment="container">

    <div class="form-container sign-in-container">
        <form th:action="@{/login}" method="post">
            <h1 th:text="${'User Login Page'}">Sign in</h1>
            <div th:if="${param.error}">
                <div class="alert alert-danger">Invalid username or password.
                </div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-info">You have been logged out.</div>
            </div>
            <input type="email" name="username" class="form-control"  autofocus="autofocus" placeholder="Email"/>
            <input type="password" name="password" class="form-control" placeholder="Password"/>

                <a th:href="@{/user/registration}">Registration</a>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
