<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="Registration">User Login Page</title>
</head>
<body>
<body>
<th:block layout:fragment="container">
    <div class="form-container sign-in-container">
        <form th:action="@{/user/registration}" method="post" th:object="${userForm}">
            <h2 th:text="${'User Registration'}">Create Account</h2>

            <input type="email" th:field="*{email}" placeholder="Email"/> <span th:errors="*{email}"></span>
            <input type="text" th:field="*{userName}" placeholder="username"/> <span th:errors="*{userName}"></span>
            <input type="text" th:field="*{firstName}" placeholder="First Name"/> <span th:errors="*{firstName}"></span>
            <input type="text" th:field="*{lastName}" placeholder="Last Name"/> <span th:errors="*{lastName}"></span>
            <input type="date" th:field="*{date}" placeholder="Date of Birth"/> <span th:errors="*{date}"></span>
            <input type="password" th:field="*{password}" placeholder="Password"/>
            <input type="password" th:field="*{passwordConfim}" placeholder="PasswordConfirm">&nbsp;<span th:errors="*{passwordConfim}"></span>
<!--            <div class="form-group">-->
<!--                <input type="submit" name="login-submit" id="login-submit" class="stdBtn" value="Log In">-->
<!--            </div>-->
            <button>Sign Up</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
<!--                <button class="ghost" id="signIn">Sign In</button>-->
                <a th:href="@{user/login}">Login</a>
            </div>

        </div>
    </div>
</th:block>
</body>
</html>
