<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
</head>
<body>
<th:block layout:fragment="container">
    <div class="overlay-panel_1">
        <h2>Photoalbum</h2>
        название альбома конкретного пользователя

    </div>
    <div class="overlay-panel overlay-right">
        фото из альбома конкретного пользователя
    </div>
</th:block>
</body>
</html>